#main-page{
    display: flex;
}
#sidebar{
    background-color:cyan;
    height: 100vh;
    display: flex;
    flex-direction:column;
    flex: 1;
    gap: 50px;
}

#main-container{
    background-color: yellowgreen;
    
    flex: 4;
}

#top-header{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.profile{
    align-self: flex-end;
    justify-self: flex-end;
    gap: 12px;
    display: flex;
    flex-direction: row;
}

.bottom-header{
    display: flex;
    gap: 500px;
    margin-top: 20px;
    padding: 0px;
}
.buttons{
    display: flex;
    align-items: center;
}

.bottom-profile{
    display: flex;
    flex-direction: row;
    gap: 17px;
}

.bp-text{
    display: flex;
    flex-direction: column;
    align-content: center ;
}

#grid-container {
    background-color: green;
    display: grid;
    gap: 50px;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 90px, 90px, 90px; 
}

.grid-item {
    background-color: orange;
    border: 1px solid black;
    padding: 10px;
    height: 300px; 
    overflow-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
}

.side-container{
    background-color: beige;
    display: flex;
    margin: 20px;
    gap: 20px;
}

.anounce-container{
    background-color: blue;
    flex-direction: column;
    display: flex;
    gap: 100px;
}

.alert-container{
    background-color: orange;
    display: flex;
    flex-direction: column;
}
.trend-container{
    background-color: red;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.alert-item{
    margin-top: 50px;
    background-color:blueviolet;
}